@model IEnumerable<ToDo.Models.Tasks>

@{
    ViewData["Title"] = "Список заданий";
}

<table class="table table-borderless">
@foreach (var item in Model) {
        <tr>
            <td>
                @if (@Html.DisplayTextFor(modelItem => item.Status) == "True")
                {
                    <div class="btn btn-light btn-circle btn-circle-sm disabled"><span>V</span></div>
                }
                @if (@Html.DisplayTextFor(modelItem => item.Status) == "False")
                {
                    <a asp-action="Check" asp-route-id="@item.ID" class="btn btn-primary btn-circle btn-circle-sm"><span>V</span></a>
                }
                @Html.DisplayFor(modelItem => item.Date) <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td class="col-4 text-right">
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger btn-circle btn-circle-sm"><span>X</span></a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning btn-circle btn-circle-sm"><span>/</span></a>
            </td>
        </tr>
}
</table>


<div class="container fixed-bottom mb-3">
    <div class="row">
        <div class="col text-center">
            <a asp-action="Create" class="btn btn-success btn-circle btn-circle-lg"><span>+</span></a>
        </div>
    </div>
</div>
